<h1>Game Basic Settings</h1>
Game Name    <input type="text"></input> <br>
Total Gold   <input type="number"></input>
Total Wood   <input type="number"></input>
Total Metal  <input type="number"></input>
Total Food   <input type="number"></input> <br>
N. Players   <input type="number"></input> <br>

<%= @id + 1 %> <br>
<%= @page %> <br>

<hr>
<%= params.inspect %>