<h1>Main Page</h1>

<a href="player/playerSettings"> This is the link to the playerSettings Html</a> </br>

<%= button_to "New Game", {:controller => "game", :action => "gameSettings"}, :method => :get %>