// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.radio {
  display: flex;
  text-align: center;
  label {
    display: block;
  }  
  input {
    width: 30%;
  }
}*/

.row { 
	width: 100%;
	display: block;
	}
.col {
	widht: 20%;
	display: inline-block;
}